* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0,33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 18, 52);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 23px;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: rgb(129, 129, 236);
    font-size: 1.02rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}

.firstSection > div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
    margin: 30px 0;

}

.rightSection {
    background-image: url(images/imgDev.png);
    width: 80%;
    background-size: cover;
    height: 400px;
    margin-top: 50px;
    
}
.purple {
    color: rgb(170,107, 228);
}

#element {
    color: rgb(170,107, 228);
}

main hr {
    border: 1px solid rgb(118, 29, 201);
    margin: 50px 60px
}
.scndSection {
    margin-left: 140px;
    height: 300px;
}

.scndSection h1 {
    font-size: 1.6rem;
}

.grey {
    color: gray;
    font-size: 0.8rem;
    
}

.box {
    width: 90%;
    height: 1px;
    border: 2px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    
}

.vertical {
    height: 200px;
    width: 0.8px;
    background-color: white;
}